body {
  background-color: #F0F1EB;    
}
.navbar-brand {
  font-family: 'Vollkorn', serif;
  background-color: #4056A1;
  color: #ffffff !important;
  font-size: 25px;
}
.navbar-brand:hover {
  background-color: #F13C20 !important;
}
.navbar-default {
  background-color: #F0F1EB;
  border: 0px;
}
ul.nav {
  font-family: 'Quicksand', sans-serif;    
}
#nav-bar-search {
  font-family: 'Quicksand', sans-serif;         
}
.hideBtn {
  display: none !important;
}
.showBtn {
  display: block !important;
}